# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python-tutorial\learn-gui-development-tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
